<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Clint's Blog
            </a>

            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/create">Create Post</a>
                </li>
                <li>
                    <a href="/posts">View Posts</a>
                </li>
            </ul>
        </div>

    </div>
</nav>